:root{
  --dark:#201A23;
  --lighter-dark:#524359;
  --text:#FBFBFB;
  --secondary-dark:#631D76;
  --secondary-light:#9E4770;
}
*{
  box-sizing: border-box !important;
}
body {
    margin: 0;
    font-family: 'Lexend Mega', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark);
    color: var(--text);
  }

.footer-bg{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  height: 5vh;
}
.wrapper{
  width: 90% !important;
  margin: 0 auto !important;
  max-width: 1700px !important;
}
.particles{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  grid-area: 17/17;
}

/* Every element box  */
.element {
  cursor: pointer;
  width: 5vw;
  height: 5.5vw;
  padding-top:2px;
  border: 1px solid var(--lighter-dark);
  border-collapse: collapse;
  overflow: hidden;
  color:black;
  font-size: .65vw;
}

.number {
  float: left;
  font-size: 0.85vw;
  position: absolute;
  color: #000;
}

.symbol {
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-top: 0.5vw;
  margin-bottom: 0.75vw;
  font-size: 2.5vw;
}

.element-name {
  text-align: center;
  color: #000;
}

#element-box .symbol {
  font-size: 5vw;
}

#element-box .number {
  font-size: 1vw;
}

#element-box .element-name {
  font-size: 1.1vw;
}

#element-box {
  grid-column: 3/5;
  grid-row: 2/4;
  margin: 0;
  padding: 0.2vw;
  overflow: hidden;
}

/* Information Table  */
#information {
  grid-column: 5/13;
  grid-row: 2/4;
  padding: 0.5vw;
  padding-top: 0;
  font-size: 1vw;
  max-height: 11.5vw; 
  overflow-y: scroll;
}

#information h1 {
  margin: 0 0 0.5vw 0;
}

.big_title {
  display: inline-block;
}

.cat_name {
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
  top: -0.7vw;
  position: relative;
  color: black;
}

.close-button {
  float: right;
  cursor: pointer;
  color: #cccccc;
}

.close-button:hover {
  color: var(--secondary-light);
}

.appearance {
  margin-bottom: 0.5vw;
}

.atom_info {
  margin-bottom: 0.5vw;
  color: var(--secondary-light);
}

/* Helium to the top right  */
.element-2 {
  grid-column-start: -2;
}

a{
  color: var(--secondary-light);
}
/* Boron & Alumunium to the right  */
.element-5,
.element-13 {
  grid-column-start: 13;
}

/* Lanthinide & Actinoid split  */
.element-58,
.element-90 {
  grid-column-start: 3;
}


.element-119 {
  grid-column-start: -2;
}

/* Categories and Groups */

/* Noble Gas  */
.noble {
  background: #f3d2e8;
}

/* Alkali Metal  */
.alkali {
  background: #f88379;
}

/* Alkaline Earth Metal  */
.alkaline {
  background: #ffc3a0;
}

/* Transition Metal  */
.transition {
  background: #e9ff08;
}

/* Polyatomic Non Metal  */
.polyatomic {
  background: #a3d2d5;
}

/* Diatomic Non Metal  */
.diatomic {
  background: #a3d5bf;
}

/* Post Transition Metal  */
.post-transition {
  background: #8eb1e7;
}

/* Metalloid  */
.metalloid {
  background: #5ed89c;
}

/* Lanthanide  */
.lanthanide {
  background: #cc99ff;
  /* Put a space to seperate the split table  */
  /* margin-top: 2.5vw; */
}

/* Actinide  */
.actinide {
  background: #ad87bd;
}

/* The Unknown Element  */
.unknown {
  background: #ccffff;
}

/* Disable the top space for the first lathenide which sits inside the table  */
.element-57 {
  margin: 0;
}

/* When in the hover state  */
.active {
  background: #fff;
  /* border-color: yellow; */
}